/* screen - dashboard-screen */

.dashboard-screen {
  background-color: var(--log-cabin);
  height: 100vh;
  margin: 0px;
  min-height: 740px;
  min-width: 1313px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.dashboard-screen .rectangle-431-4MZWo9 {
  background-color: #141414;
  height: 740px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 294px;
}

.dashboard-screen .text-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 130px;
  width: 184px;
}

.dashboard-screen .span0-DagRw9 {
}

.dashboard-screen .span1-DagRw9 {
  color: var(--white);
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.dashboard-screen .group-3663-4MZWo9 {
  background-color: transparent;
  height: 76px;
  left: -27px;
  position: absolute;
  top: 19px;
  width: 330px;
}

.dashboard-screen .group-3635-URFCL9 {
  background-color: transparent;
  height: 58px;
  left: 57px;
  position: absolute;
  top: 9px;
  width: 48px;
}

.dashboard-screen .finclus-URFCL9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 72.1px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 330px;
}

.dashboard-screen .rectangle-432-4MZWo9 {
  background-color: var(--rangoon-green);
  border-radius: 10px;
  height: 47px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 224px;
  width: 213px;
}

.dashboard-screen .rectangle-416-4MZWo9 {
  background-color: #1a1a1a;
  border-radius: 22.83px;
  height: 550px;
  left: 724px;
  mix-blend-mode: normal;
  position: absolute;
  top: 129px;
  width: 529px;
}

.dashboard-screen .leaderboard-4MZWo9 {
  background-color: transparent;
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 844px;
  letter-spacing: 4.00px;
  line-height: 14.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 86px;
  white-space: nowrap;
  width: 284px;
}

.dashboard-screen .x1-4MZWo9 {
  background-color: transparent;
  height: 35px;
  left: 793px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 213px;
  width: 10px;
}

.dashboard-screen .x2-4MZWo9 {
  background-color: transparent;
  height: 35px;
  left: 793px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 264px;
  width: 10px;
}

.dashboard-screen .x3-4MZWo9 {
  background-color: transparent;
  height: 35px;
  left: 793px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 317px;
  width: 10px;
}

.dashboard-screen .x4-4MZWo9 {
  background-color: transparent;
  height: 35px;
  left: 793px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 370px;
  width: 10px;
}

.dashboard-screen .x5-4MZWo9 {
  background-color: transparent;
  height: 35px;
  left: 793px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 423px;
  width: 10px;
}

.dashboard-screen .x6-4MZWo9 {
  background-color: transparent;
  height: 35px;
  left: 793px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 474px;
  width: 10px;
}

.dashboard-screen .x7-4MZWo9 {
  background-color: transparent;
  height: 35px;
  left: 793px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 525px;
  width: 10px;
}

.dashboard-screen .x8-4MZWo9 {
  background-color: transparent;
  height: 35px;
  left: 793px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 576px;
  width: 10px;
}

.dashboard-screen .x91-9012-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 216px;
  width: 152px;
}

.dashboard-screen .x968-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 963px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 216px;
  width: 152px;
}

.dashboard-screen .x102-crore-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 1120px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 216px;
  width: 109px;
}

.dashboard-screen .x742-lakhs-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 1120px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 268px;
  width: 109px;
}

.dashboard-screen .x636-lakhs-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 1120px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 320px;
  width: 109px;
}

.dashboard-screen .x636-lakhs-CZF9zm {
  background-color: transparent;
  height: 30px;
  left: 1120px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 372px;
  width: 109px;
}

.dashboard-screen .x636-lakhs-vbt6uR {
  background-color: transparent;
  height: 30px;
  left: 1120px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 424px;
  width: 109px;
}

.dashboard-screen .x636-lakhs-tFotzw {
  background-color: transparent;
  height: 30px;
  left: 1120px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: 109px;
}

.dashboard-screen .x159-lakhs-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 1120px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 528px;
  width: 93px;
}

.dashboard-screen .x148-lakhs-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 1120px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 580px;
  width: 109px;
}

.dashboard-screen .x70-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 963px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 268px;
  width: 152px;
}

.dashboard-screen .x60-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 963px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 320px;
  width: 152px;
}

.dashboard-screen .x60-CZF9zm {
  background-color: transparent;
  height: 30px;
  left: 963px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 373px;
  width: 152px;
}

.dashboard-screen .x60-vbt6uR {
  background-color: transparent;
  height: 30px;
  left: 963px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 426px;
  width: 152px;
}

.dashboard-screen .x60-tFotzw {
  background-color: transparent;
  height: 30px;
  left: 963px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 477px;
  width: 152px;
}

.dashboard-screen .x15-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 963px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 528px;
  width: 152px;
}

.dashboard-screen .x14-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 963px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 579px;
  width: 152px;
}

.dashboard-screen .x91-9731-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 267px;
  width: 152px;
}

.dashboard-screen .x91-9191-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 320px;
  width: 139px;
}

.dashboard-screen .x91-9191-CZF9zm {
  background-color: transparent;
  height: 30px;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 373px;
  width: 139px;
}

.dashboard-screen .x91-9191-vbt6uR {
  background-color: transparent;
  height: 30px;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 426px;
  width: 139px;
}

.dashboard-screen .x91-9191-tFotzw {
  background-color: transparent;
  height: 30px;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 477px;
  width: 139px;
}

.dashboard-screen .x91-9191-you-4MZWo9 {
  background-color: transparent;
  height: 30px;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 528px;
  width: 155px;
}

.dashboard-screen .x91-9191-gE1Ge5 {
  background-color: transparent;
  height: 30px;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 579px;
  width: 139px;
}

.dashboard-screen .rank-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 718px;
  letter-spacing: 0.00px;
  line-height: 14.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 175px;
  width: 101px;
}

.dashboard-screen .phone-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 848px;
  letter-spacing: 0.00px;
  line-height: 14.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 175px;
  width: 101px;
}

.dashboard-screen .referrals-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 989px;
  letter-spacing: 0.00px;
  line-height: 14.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 175px;
  width: 101px;
}

.dashboard-screen .earnings-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 1109px;
  letter-spacing: 0.00px;
  line-height: 14.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 175px;
  width: 101px;
}

.dashboard-screen .your-referrals-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 289px;
  width: 127px;
}

.dashboard-screen .group-3665-4MZWo9 {
  background-color: transparent;
  height: 17px;
  left: 55px;
  position: absolute;
  top: 239px;
  width: 110px;
}

.dashboard-screen .overview-B2ZslY {
  background-color: transparent;
  color: var(--fuel-yellow);
  font-family: var(--font-family-lato);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 110px;
}

.dashboard-screen .group-3664-4MZWo9 {
  background-color: transparent;
  height: 17px;
  left: 55px;
  position: absolute;
  top: 333px;
  width: 114px;
}

.dashboard-screen .collect-rewards-zwrCee {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 114px;
}

.dashboard-screen .group-3666-4MZWo9 {
  background-color: transparent;
  height: 17px;
  left: 55px;
  position: absolute;
  top: 383px;
  width: 114px;
}

.dashboard-screen .about-finclu-s-X1h9VA {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 114px;
}

.dashboard-screen .my-rewards-4MZWo9 {
  background-color: transparent;
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 368px;
  letter-spacing: 4.00px;
  line-height: 14.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 87px;
  white-space: nowrap;
  width: 284px;
}

.dashboard-screen .rectangle-70-4MZWo9 {
  background-color: var(--white);
  border-radius: 6.96px;
  height: 117px;
  left: 334px;
  mix-blend-mode: normal;
  position: absolute;
  top: 424px;
  width: 350px;
}

.dashboard-screen .rectangle-420-4MZWo9 {
  background-color: var(--white);
  border-radius: 6.96px;
  height: 117px;
  left: 334px;
  mix-blend-mode: normal;
  position: absolute;
  top: 286px;
  width: 350px;
}

.dashboard-screen .rectangle-433-4MZWo9 {
  background-color: var(--eerie-black);
  border-radius: 6.96px;
  height: 138px;
  left: 334px;
  mix-blend-mode: normal;
  position: absolute;
  top: 128px;
  width: 165px;
}

.dashboard-screen .rectangle-434-4MZWo9 {
  background-color: var(--eerie-black);
  border-radius: 6.96px;
  height: 138px;
  left: 519px;
  mix-blend-mode: normal;
  position: absolute;
  top: 128px;
  width: 165px;
}

.dashboard-screen .rectangle-417-4MZWo9 {
  background-color: var(--white);
  border-radius: 6.96px;
  height: 117px;
  left: 334px;
  mix-blend-mode: normal;
  position: absolute;
  top: 562px;
  width: 350px;
}

.dashboard-screen .x1530-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 618px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 491px;
  width: 48px;
}

.dashboard-screen .x11-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 625px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 353px;
  width: 48px;
}

.dashboard-screen .x151000-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 618px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 629px;
  width: 61px;
}

.dashboard-screen .earn-excusive-t-erring-30-users-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 358px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 458px;
  width: 286px;
}

.dashboard-screen .get-rs-600-cash-first-referral-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 358px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 320px;
  width: 286px;
}

.dashboard-screen .earn-macbook-by-ring-1000-users-4MZWo9 {
  background-color: transparent;
  height: auto;
  left: 358px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 596px;
  width: 286px;
}

.dashboard-screen .x15-CZF9zm {
  background-color: transparent;
  height: 30px;
  left: 342px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 196px;
  width: 152px;
}

.dashboard-screen .x159000-4MZWo9 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-cera_pro-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: 30px;
  left: 527px;
  letter-spacing: 0.00px;
  line-height: 15.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 196px;
  width: 152px;
}

.dashboard-screen .rectangle-59-4MZWo9 {
  background-color: var(--seashell);
  border-radius: 9.48px;
  height: 6px;
  left: 358px;
  mix-blend-mode: normal;
  position: absolute;
  top: 496px;
  width: 247px;
}

.dashboard-screen .rectangle-421-4MZWo9 {
  background-color: var(--seashell);
  border-radius: 9.48px;
  height: 7px;
  left: 358px;
  mix-blend-mode: normal;
  position: absolute;
  top: 358px;
  width: 256px;
}

.dashboard-screen .rectangle-418-4MZWo9 {
  background-color: var(--seashell);
  border-radius: 9.48px;
  height: 6px;
  left: 358px;
  mix-blend-mode: normal;
  position: absolute;
  top: 634px;
  width: 247px;
}

.dashboard-screen .rectangle-60-4MZWo9 {
  background-color: var(--fuel-yellow);
  border-radius: 7.51px;
  height: 7px;
  left: 358px;
  mix-blend-mode: normal;
  position: absolute;
  top: 496px;
  width: 136px;
}

.dashboard-screen .rectangle-422-4MZWo9 {
  background-color: #73d146;
  border-radius: 7.51px;
  height: 7px;
  left: 358px;
  mix-blend-mode: normal;
  position: absolute;
  top: 358px;
  width: 256px;
}

.dashboard-screen .rectangle-419-4MZWo9 {
  background-color: var(--fuel-yellow);
  border-radius: 7.51px;
  height: 7px;
  left: 358px;
  mix-blend-mode: normal;
  position: absolute;
  top: 634px;
  width: 24px;
}

.dashboard-screen .total-referrals-4MZWo9 {
  background-color: transparent;
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-bold);
  font-size: 12.5px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 354px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 168px;
  width: 128px;
}

.dashboard-screen .total-earnings-4MZWo9 {
  background-color: transparent;
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-bold);
  font-size: 12.5px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 539px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 168px;
  width: 128px;
}
