:root { 
  --black: #000000;
  --chicago: #585858;
  --desert-storm: #f8f8f8;
  --eerie-black: #1b1b1b;
  --fuel-yellow: #e7aa22;
  --log-cabin: #232323;
  --mist-gray: #c4c4c4;
  --nobel: #b4b4b4;
  --onion: #2f2815;
  --pizza: #c98c05;
  --quarter-pearl-lusta: #fffcf5;
  --quarter-pearl-lusta-2: #fffcf58a;
  --rangoon-green: #201e19;
  --royal-blue: #4660e2;
  --silver: #c1c1c1;
  --white: #ffffff;
 
  --font-size-l: 32px;
  --font-size-m: 24px;
  --font-size-s: 22px;
  --font-size-xl: 36px;
  --font-size-xs: 20px;
  --font-size-xxl: 40px;
  --font-size-xxs: 14.6px;
 
  --font-family-cera_pro-bold: "Cera Pro-Bold", Helvetica;
  --font-family-cera_pro-light: "Cera Pro-Light", Helvetica;
  --font-family-cera_pro-medium: "Cera Pro-Medium", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-prompt: "Prompt", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.poppins-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-white-22px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-fuel-yellow-22px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-white-22px-2 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.poppins-medium-white-40px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-white-40px-2 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-fuel-yellow-40px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.cerapro-bold-white-14-6px {
  color: var(--white);
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-white-32px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-silver-20px {
  color: var(--silver);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.cerapro-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-cera_pro-medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-desert-storm-40px {
  color: var(--desert-storm);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-white-36-5px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 36.5px;
  font-style: normal;
  font-weight: 600;
}

.cerapro-medium-nobel-17-6px {
  color: var(--nobel);
  font-family: var(--font-family-cera_pro-medium);
  font-size: 17.6px;
  font-style: normal;
  font-weight: 500;
}

.cerapro-bold-quarter-pearl-lusta-56-5px {
  color: var(--quarter-pearl-lusta);
  font-family: var(--font-family-cera_pro-bold);
  font-size: 56.5px;
  font-style: normal;
  font-weight: 700;
}

.cerapro-medium-fuel-yellow-16px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.prompt-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-prompt);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.cerapro-bold-fuel-yellow-32px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.cerapro-light-fuel-yellow-20px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-light);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.cerapro-medium-white-32px {
  color: var(--white);
  font-family: var(--font-family-cera_pro-medium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-white-36-5px-2 {
  font-family: var(--font-family-poppins);
  font-size: 36.5px;
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-fuel-yellow-36-5px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-poppins);
  font-size: 36.5px;
  font-style: normal;
  font-weight: 600;
}

.cerapro-bold-white-40px {
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.cerapro-bold-fuel-yellow-40px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.cerapro-bold-white-40px-2 {
  color: var(--white);
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.cerapro-bold-white-17-6px {
  color: var(--white);
  font-family: var(--font-family-cera_pro-bold);
  font-size: 17.6px;
  font-style: normal;
  font-weight: 700;
}

.cerapro-bold-quarter-pearl-lusta-45-9px {
  color: var(--quarter-pearl-lusta);
  font-family: var(--font-family-cera_pro-bold);
  font-size: 45.9px;
  font-style: normal;
  font-weight: 700;
}

.cerapro-bold-fuel-yellow-36px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.poppins-semi-bold-white-13-4px {
  font-family: var(--font-family-poppins);
  font-size: 13.4px;
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-fuel-yellow-13-4px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-poppins);
  font-size: 13.4px;
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-white-13-4px-2 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 13.4px;
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-white-14-6px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-white-14-5px {
  font-family: var(--font-family-poppins);
  font-size: 14.5px;
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-fuel-yellow-14-5px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-poppins);
  font-size: 14.5px;
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-white-14-5px-2 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 14.5px;
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-white-15-8px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 15.8px;
  font-style: normal;
  font-weight: 400;
}

.cerapro-medium-nobel-16-9px {
  color: var(--nobel);
  font-family: var(--font-family-cera_pro-medium);
  font-size: 16.9px;
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-quarter-pearl-lusta-22px {
  color: var(--quarter-pearl-lusta-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.cerapro-bold-white-56-5px {
  font-family: var(--font-family-cera_pro-bold);
  font-size: 56.5px;
  font-style: normal;
  font-weight: 700;
}

.cerapro-bold-fuel-yellow-56-5px {
  color: var(--fuel-yellow);
  font-family: var(--font-family-cera_pro-bold);
  font-size: 56.5px;
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-white-18-2px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 18.2px;
  font-style: normal;
  font-weight: 400;
}

.cerapro-bold-eerie-black-32px {
  color: var(--eerie-black);
  font-family: var(--font-family-cera_pro-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.border-1-1px-nobel {
  border: 1.1px solid var(--nobel);
}
