/* screen - tablet-1161 */

.tablet-1161 {
  background-color: var(--eerie-black);
  height: 100vh;
  margin: 0px;
  min-height: 14721px;
  min-width: 1161px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.tablet-1161 .flyout-menu-GA7nTH {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 454px;
  top: 51px;
  width: 100px;
}

.tablet-1161 .text-32dpNv {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tablet-1161 .headers-text-link-GA7nTH {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 282px;
  top: 51px;
  width: 67px;
}

.tablet-1161 .text-MTUGco {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tablet-1161 .text-GA7nTH {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  right: 383px;
  text-align: left;
  top: 51px;
  white-space: nowrap;
  width: auto;
}

.tablet-1161 .text-DxC79h {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  right: 210px;
  text-align: left;
  top: 51px;
  white-space: nowrap;
  width: auto;
}

.tablet-1161 .rectangle-397-GA7nTH {
  background-color: var(--rangoon-green);
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  right: 76px;
  top: 46px;
  width: 102px;
}

.tablet-1161 .text-gX81gP {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  right: 96px;
  text-align: left;
  top: 52px;
  white-space: nowrap;
  width: auto;
}

.tablet-1161 .group-3635-GA7nTH {
  background-color: transparent;
  height: 58px;
  left: 68px;
  position: absolute;
  top: 32px;
  width: 179px;
}

.tablet-1161 .finclus-1-dxUpHQ {
  background-color: transparent;
  height: 51px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 132px;
}

.tablet-1161 .rectangle-393-dxUpHQ {
  background-color: var(--eerie-black);
  height: 58px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 141px;
}

.tablet-1161 .finclus-GA7nTH {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 72.1px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
  width: 330px;
}

.tablet-1161 .with-finclus-yo-ns-in-one-click-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 339px);
  letter-spacing: 0.42px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 1230px;
  width: 704px;
}

.tablet-1161 .span0-kNR3n5 {
  letter-spacing: 0.17px;
}

.tablet-1161 .span1-kNR3n5 {
  letter-spacing: 0.17px;
}

.tablet-1161 .with-finclus-yo-ns-in-one-click-DxC79h {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 348px);
  letter-spacing: 0.42px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 1230px;
  width: 704px;
}

.tablet-1161 .span0-vlU4hx {
  letter-spacing: 0.17px;
}

.tablet-1161 .span1-vlU4hx {
  letter-spacing: 0.17px;
}

.tablet-1161 .pay-with-social-media-posts-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 258px);
  letter-spacing: 3.15px;
  line-height: 60px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2030px;
  width: 520px;
}

.tablet-1161 .step-1-post-you-on-social-media-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 212px);
  letter-spacing: 0.40px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2197px;
  width: auto;
}

.tablet-1161 .span0-Wm9lCG {
  letter-spacing: 0.09px;
}

.tablet-1161 .span1-Wm9lCG {
  letter-spacing: 0.09px;
}

.tablet-1161 .span2-Wm9lCG {
  letter-spacing: 0.10px;
}

.tablet-1161 .step-2-submit-p-on-finclu-s-app-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 212px);
  letter-spacing: 0.40px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2292px;
  width: 473px;
}

.tablet-1161 .span0-pBMx5c {
  letter-spacing: 0.09px;
}

.tablet-1161 .span1-pBMx5c {
  letter-spacing: 0.09px;
}

.tablet-1161 .span2-pBMx5c {
  letter-spacing: 0.10px;
}

.tablet-1161 .step-3-get-amaz-shbacks-from-us-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 212px);
  letter-spacing: 0.40px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 2390px;
  width: 473px;
}

.tablet-1161 .span0-ylavhK {
  letter-spacing: 0.09px;
}

.tablet-1161 .span1-ylavhK {
  letter-spacing: 0.09px;
}

.tablet-1161 .span2-ylavhK {
  letter-spacing: 0.10px;
}

.tablet-1161 .rectangle-GA7nTH {
  background-color: var(--pizza);
  border-radius: 3.65px;
  height: 34px;
  left: calc(50.00% - 250px);
  mix-blend-mode: normal;
  position: absolute;
  top: 2513px;
  width: 136px;
}

.tablet-1161 .join-the-waitlist-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 239px);
  letter-spacing: 0.00px;
  line-height: 25.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2518px;
  white-space: nowrap;
  width: 114px;
}

.tablet-1161 .group-3652-GA7nTH {
  background-color: transparent;
  height: 585px;
  left: 435px;
  position: absolute;
  top: 2671px;
  width: 292px;
}

.tablet-1161 .group-3650-38x5cR {
  background-color: transparent;
  height: 585px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 292px;
}

.tablet-1161 .phone-up-RrOafy {
  background-color: transparent;
  height: 585px;
  left: calc(50.00% - 146px);
  position: relative;
  top: 0px;
  width: 292px;
}

.tablet-1161 .x0100-screen-h6mYsJ {
  background-color: transparent;
  height: 550px;
  left: calc(50.00% - 128px);
  position: absolute;
  top: 18px;
  width: 254px;
}

.tablet-1161 .figma-app-conce-by-josealvarezn-iZomOK {
  background-color: transparent;
  height: 100.16%;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100.37%;
}

.tablet-1161 .frame-h6mYsJ {
  background-color: transparent;
  height: 585px;
  left: calc(50.00% - 146px);
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 292px;
}

.tablet-1161 .frame-5pMCUt {
  background-color: transparent;
  height: 100.11%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tablet-1161 .x-parts-home-indicator-dark-5pMCUt {
  background-color: transparent;
  height: 3.94%;
  left: 6.50%;
  position: absolute;
  top: 93.17%;
  width: 87.01%;
}

.tablet-1161 .rectangle-24-LUv2mL {
  background-color: var(--black);
  border-radius: 67.75px;
  bottom: 6px;
  height: 3px;
  left: calc(50.00% - 45px);
  mix-blend-mode: normal;
  position: absolute;
  width: 91px;
}

.tablet-1161 .x-parts-true-depth-dark-5pMCUt {
  background-color: transparent;
  height: 1.62%;
  left: 43.85%;
  position: absolute;
  top: 3.24%;
  width: 18.33%;
}

.tablet-1161 .x7-mp-camera-hcVNKx {
  background-color: transparent;
  height: 105.43%;
  left: 81.80%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.72%;
  width: 18.68%;
}

.tablet-1161 .speaker-microphone-hcVNKx {
  background-color: var(--log-cabin);
  border-radius: 2.71px;
  height: 57.14%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21.42%;
  width: 65.82%;
}

.tablet-1161 .ellipse-51-GA7nTH {
  background-color: var(--mist-gray);
  border-radius: 8.5px;
  height: 17px;
  left: calc(50.00% - 250px);
  mix-blend-mode: normal;
  position: absolute;
  top: 2215px;
  width: 17px;
}

.tablet-1161 .ellipse-52-GA7nTH {
  background-color: var(--mist-gray);
  border-radius: 8.5px;
  height: 17px;
  left: calc(50.00% - 250px);
  mix-blend-mode: normal;
  position: absolute;
  top: 2310px;
  width: 17px;
}

.tablet-1161 .ellipse-53-GA7nTH {
  background-color: var(--mist-gray);
  border-radius: 8.5px;
  height: 17px;
  left: calc(50.00% - 250px);
  mix-blend-mode: normal;
  position: absolute;
  top: 2402px;
  width: 17px;
}

.tablet-1161 .line-5-GA7nTH {
  background-color: transparent;
  height: 92px;
  left: calc(50.00% - 243px);
  position: absolute;
  top: 2227px;
  width: 1px;
}

.tablet-1161 .line-6-GA7nTH {
  background-color: transparent;
  height: 90px;
  left: calc(50.00% - 242px);
  position: absolute;
  top: 2319px;
  width: 1px;
}

.tablet-1161 .rectangle-394-GA7nTH {
  background-color: var(--onion);
  border-radius: 3.78px;
  height: 19px;
  left: calc(50.00% + 43px);
  mix-blend-mode: normal;
  position: absolute;
  top: 245px;
  width: 137px;
}

.tablet-1161 .building-your-t-st-with-finc-id-GA7nTH {
  background-color: transparent;
  color: transparent;
  display: block;
  font-family: var(--font-family-cera_pro-bold);
  font-size: 45.9px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: calc(50.00% - 432px);
  letter-spacing: 0.00px;
  line-height: 69.0px;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 867px;
  opacity: 0;
transform: translate(25px, 0);
}

.tablet-1161 .span0-sOiA5M {
  font-style: normal;
}

.tablet-1161 .span1-sOiA5M {
  color: var(--fuel-yellow);
  font-style: normal;
}

.tablet-1161 .span2-sOiA5M {
  font-style: normal;
}

.tablet-1161 .building-your-t-st-with-finc-id-GA7nTH.animate-enter10 {
  animation: animate-enter10-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(25px, 0);
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.tablet-1161 .finc-id-integra-to-one-identity-GA7nTH {
  background-color: transparent;
  color: var(--quarter-pearl-lusta-2);
  display: block;
  font-family: var(--font-family-poppins);
  font-size: 18.2px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 375px);
  letter-spacing: 0.00px;
  line-height: 31.0px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 283px;
  width: 767px;
  opacity: 0;
transform: translate(25px, 0);
}

.tablet-1161 .finc-id-integra-to-one-identity-GA7nTH.animate-enter11 {
  animation: animate-enter11-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(25px, 0);
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.tablet-1161 .group-3640-GA7nTH {
  background-color: transparent;
  height: 369px;
  left: calc(50.00% - 158px);
  position: absolute;
  top: 330px;
  width: 318px;
}

.tablet-1161 .rectangle-382-GA7nTH {
  background-color: transparent;
  border: 1.1px solid var(--nobel);
  border-radius: 10.58px;
  height: 60px;
  left: calc(50.00% - 276px);
  position: absolute;
  top: 760px;
  width: 535px;
}

.tablet-1161 .line-4-GA7nTH {
  background-color: transparent;
  height: 40px;
  left: calc(50.00% - 201px);
  position: absolute;
  top: 768px;
  width: 2px;
}

.tablet-1161 .enter-phone-number-GA7nTH {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: calc(50.00% - 186px);
  letter-spacing: 0.00px;
  line-height: 76.3px;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 772px;
  white-space: nowrap;
  width: 229px;
}

.tablet-1161 .enter-phone-number-GA7nTH::placeholder {
  color: #b4b4b499;
}

.tablet-1161 .x91-GA7nTH {
  background-color: transparent;
  height: 35px;
  left: calc(50.00% - 257px);
  letter-spacing: 0.00px;
  line-height: 76.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 772px;
  white-space: nowrap;
  width: 59px;
}

.tablet-1161 .group-3628-GA7nTH {
  background-color: transparent;
  height: 45px;
  left: calc(50.00% + 48px);
  position: absolute;
  top: 767px;
  width: 219px;
}

.tablet-1161 .rectangle-373-DgxL3E {
  background-color: var(--mist-gray);
  border-radius: 7.4px;
  height: 45px;
  left: calc(50.00% - 109px);
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 204px;
}

.tablet-1161 .join-the-waitlist-DgxL3E {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 16.9px;
  font-style: normal;
  font-weight: 500;
  height: 35px;
  left: calc(50.00% - 67px);
  letter-spacing: 0.00px;
  line-height: 76.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 176px;
}

.tablet-1161 .rectangle-383-GA7nTH {
  background-color: var(--royal-blue);
  border-radius: 7.4px;
  height: 45px;
  left: calc(50.00% + 48px);
  mix-blend-mode: normal;
  position: absolute;
  top: 767px;
  width: 204px;
}

.tablet-1161 .join-the-waitlist-DxC79h {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-cera_pro-bold);
  font-size: 16.9px;
  font-style: normal;
  font-weight: 700;
  height: 35px;
  left: calc(50.00% + 63px);
  letter-spacing: 0.00px;
  line-height: 76.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 772px;
  white-space: nowrap;
  width: 176px;
}

.tablet-1161 .divider-GA7nTH {
  background-color: var(--rangoon-green);
  border-radius: 40px;
  height: 645px;
  left: 111px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 6476px);
  width: calc(100.00% - 198px);
}

.tablet-1161 .image-GA7nTH {
  background-color: var(--eerie-black);
  border-radius: 12.19px;
  box-shadow: 8.704225540161133px 8.704225540161133px 17.408451080322266px #8c8c8c4a , -8.704225540161133px -8.704225540161133px 40px #000000ab;
  display: block;
  height: 314px;
  left: calc(50.00% - 293px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 6228px);
  width: 610px;
  opacity: 0;
transform: scale(0.9);
}

.tablet-1161 .image-GA7nTH.animate-enter12 {
  animation: animate-enter12-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: scale(0.9);
}

@keyframes animate-enter12-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}

.tablet-1161 .image-DxC79h {
  background-color: transparent;
  border-radius: 7.83px;
  height: 299px;
  left: calc(50.00% - 285px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 6220px);
  width: 593px;
}

.tablet-1161 .your-unique-ide-red-with-anyone-GA7nTH {
  background-color: transparent;
  display: block;
  height: 121px;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 55.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 6438px);
  width: calc(100.00% - 205px);
  opacity: 0;
transform: translate(0, 25px);
}

.tablet-1161 .your-unique-ide-red-with-anyone-GA7nTH.animate-enter13 {
  animation: animate-enter13-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(0, 25px);
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.tablet-1161 .watch-this-intr-e-about-finc-id-GA7nTH {
  background-color: transparent;
  height: 121px;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: 55.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 6357px);
  width: calc(100.00% - 264px);
}

.tablet-1161 .screenshot-2021-07-31-at-1010-1-GA7nTH {
  background-color: transparent;
  height: 304px;
  left: calc(50.00% - 576px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3372px;
  width: 1159px;
}

.tablet-1161 .get-rewards-from-top-brands-GA7nTH {
  background-color: transparent;
  height: 89px;
  left: calc(50.00% - 248px);
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3372px;
  width: 502px;
}

.tablet-1161 .step-1-register-for-waitlist-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 218px);
  letter-spacing: 0.40px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 3768px;
  width: 367px;
}

.tablet-1161 .span0-DyKz9K {
  letter-spacing: 0.09px;
}

.tablet-1161 .span1-DyKz9K {
  letter-spacing: 0.09px;
}

.tablet-1161 .span2-DyKz9K {
  letter-spacing: 0.10px;
}

.tablet-1161 .step-2-share-re-de-with-friends-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 218px);
  letter-spacing: 0.40px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 3863px;
  width: 473px;
}

.tablet-1161 .span0-q5x29I {
  letter-spacing: 0.09px;
}

.tablet-1161 .span1-q5x29I {
  letter-spacing: 0.09px;
}

.tablet-1161 .span2-q5x29I {
  letter-spacing: 0.10px;
}

.tablet-1161 .step-3-move-up-the-waitlist-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 218px);
  letter-spacing: 0.40px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 3961px;
  width: 473px;
}

.tablet-1161 .span0-KaefLV {
  letter-spacing: 0.09px;
}

.tablet-1161 .span1-KaefLV {
  letter-spacing: 0.09px;
}

.tablet-1161 .span2-KaefLV {
  letter-spacing: 0.10px;
}

.tablet-1161 .ellipse-54-GA7nTH {
  background-color: var(--mist-gray);
  border-radius: 8.5px;
  height: 17px;
  left: calc(50.00% - 256px);
  mix-blend-mode: normal;
  position: absolute;
  top: 3786px;
  width: 17px;
}

.tablet-1161 .ellipse-55-GA7nTH {
  background-color: var(--mist-gray);
  border-radius: 8.5px;
  height: 17px;
  left: calc(50.00% - 256px);
  mix-blend-mode: normal;
  position: absolute;
  top: 3881px;
  width: 17px;
}

.tablet-1161 .ellipse-56-GA7nTH {
  background-color: var(--mist-gray);
  border-radius: 8.5px;
  height: 17px;
  left: calc(50.00% - 256px);
  mix-blend-mode: normal;
  position: absolute;
  top: 3973px;
  width: 17px;
}

.tablet-1161 .line-7-GA7nTH {
  background-color: transparent;
  height: 92px;
  left: calc(50.00% - 249px);
  position: absolute;
  top: 3798px;
  width: 1px;
}

.tablet-1161 .line-8-GA7nTH {
  background-color: transparent;
  height: 90px;
  left: calc(50.00% - 248px);
  position: absolute;
  top: 3890px;
  width: 1px;
}

.tablet-1161 .line-9-GA7nTH {
  background-color: transparent;
  height: 90px;
  left: calc(50.00% - 248px);
  position: absolute;
  top: 3890px;
  width: 1px;
}

.tablet-1161 .join-waitlist-now-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 258px);
  letter-spacing: 0.00px;
  line-height: 48px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3657px;
  white-space: nowrap;
  width: 523px;
}

.tablet-1161 .rectangle-437-GA7nTH {
  background-color: var(--mist-gray);
  height: 2136px;
  left: 57px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4197px;
  width: 1053px;
}

.tablet-1161 .rectangle-DxC79h {
  background-color: var(--pizza);
  border-radius: 3.65px;
  height: 34px;
  left: calc(50.00% - 227px);
  mix-blend-mode: normal;
  position: absolute;
  top: 6697px;
  width: 136px;
}

.tablet-1161 .join-the-waitlist-gX81gP {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 215px);
  letter-spacing: 0.00px;
  line-height: 25.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6702px;
  white-space: nowrap;
  width: 114px;
}

.tablet-1161 .finance-in-a-flash-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 227px);
  letter-spacing: 0.17px;
  line-height: 43.8px;
  position: absolute;
  text-align: left;
  top: 6467px;
  white-space: nowrap;
  width: 374px;
}

.tablet-1161 .span0-XX9Lz7 {
  letter-spacing: 0.07px;
}

.tablet-1161 .span1-XX9Lz7 {
  letter-spacing: 0.07px;
}

.tablet-1161 .create-a-bank-a-percent-painful-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 227px);
  letter-spacing: 0.10px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6529px;
  width: 460px;
}

.tablet-1161 .screenshot-2021-07-25-at-310-2-GA7nTH {
  background-color: transparent;
  height: 508px;
  left: calc(50.00% - 151px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 6824px;
  width: 324px;
}

.tablet-1161 .rectangle-gX81gP {
  background-color: var(--pizza);
  border-radius: 3.65px;
  height: 34px;
  left: calc(50.00% - 247px);
  mix-blend-mode: normal;
  position: absolute;
  top: 7716px;
  width: 136px;
}

.tablet-1161 .reap-remarkable-rewards-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 248px);
  letter-spacing: 0.00px;
  line-height: 43.8px;
  position: absolute;
  text-align: left;
  top: 7484px;
  width: 325px;
}

.tablet-1161 .span0-C1mdL0 {
}

.tablet-1161 .span1-C1mdL0 {
}

.tablet-1161 .span2-C1mdL0 {
}

.tablet-1161 .join-the-waitli-arkable-rewards-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 248px);
  letter-spacing: 0.10px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7584px;
  width: 292px;
}

.tablet-1161 .join-the-waitlist-w3SM3y {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 236px);
  letter-spacing: 0.00px;
  line-height: 25.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7721px;
  white-space: nowrap;
  width: 114px;
}

.tablet-1161 .and-get-100-cashback-GA7nTH {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 18.2px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 248px);
  letter-spacing: 0.00px;
  line-height: 25.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7770px;
  white-space: nowrap;
  width: 219px;
}

.tablet-1161 .screenshot-2021-07-25-at-703-1-GA7nTH {
  background-color: transparent;
  display: block;
  height: 531px;
  left: calc(50.00% - 303px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 7949px;
  width: 559px;
  opacity: 0;
transform: translate(-50px, 0);
}

.tablet-1161 .screenshot-2021-07-25-at-703-1-GA7nTH.animate-enter14 {
  animation: animate-enter14-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-50px, 0);
}

@keyframes animate-enter14-frames {
  from{opacity: 0;
transform: translate(-50px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.tablet-1161 .rectangle-w3SM3y {
  background-color: var(--pizza);
  border-radius: 3.65px;
  height: 34px;
  left: calc(50.00% - 244px);
  mix-blend-mode: normal;
  position: absolute;
  top: 8949px;
  width: 136px;
}

.tablet-1161 .join-the-waitlist-kqQQwV {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 232px);
  letter-spacing: 0.00px;
  line-height: 25.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 8954px;
  white-space: nowrap;
  width: 114px;
}

.tablet-1161 .ultimate-privacy-and-security-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 248px);
  letter-spacing: 0.42px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 8633px;
  width: 704px;
}

.tablet-1161 .span0-0pZaU1 {
  letter-spacing: 0.17px;
}

.tablet-1161 .span1-0pZaU1 {
  letter-spacing: 0.17px;
}

.tablet-1161 .span2-0pZaU1 {
  letter-spacing: 0.17px;
}

.tablet-1161 .data-breach-res-e-data-is-moved-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 198px);
  letter-spacing: 0.42px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8785px;
  width: 391px;
}

.tablet-1161 .noun-privacy2631175-1-GA7nTH {
  background-color: transparent;
  height: 35px;
  left: calc(50.00% - 248px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 8787px;
  width: 28px;
}

.tablet-1161 .group-hyfCj3 {
  background-color: transparent;
  height: 677px;
  left: 4px;
  position: relative;
  top: 1px;
  width: 1473px;
}

.tablet-1161 .group-17kBnO {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.tablet-1161 .group-p8K5PS {
  background-color: transparent;
  height: 1.03%;
  left: 99.62%;
  position: absolute;
  top: 98.97%;
  width: 0.38%;
}

.tablet-1161 .vector-n1k1w9 {
  background-color: transparent;
  height: 7.17%;
  left: 44.04%;
  mix-blend-mode: normal;
  position: absolute;
  top: 46.42%;
  width: 8.93%;
}

.tablet-1161 .vector-2jcxAr {
  background-color: transparent;
  height: 7.17%;
  left: 79.79%;
  mix-blend-mode: normal;
  position: absolute;
  top: 65.45%;
  width: 8.93%;
}

.tablet-1161 .vector-NfIaeZ {
  background-color: transparent;
  height: 7.17%;
  left: 79.79%;
  mix-blend-mode: normal;
  position: absolute;
  top: 79.09%;
  width: 8.93%;
}

.tablet-1161 .vector-C8OK6K {
  background-color: transparent;
  height: 7.17%;
  left: 79.79%;
  mix-blend-mode: normal;
  position: absolute;
  top: 92.35%;
  width: 8.93%;
}

.tablet-1161 .vector-p8K5PS {
  background-color: transparent;
  height: 3.99%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1.43%;
}

.tablet-1161 .noun-privacy2631175-4-GA7nTH {
  background-color: transparent;
  height: 35px;
  left: calc(50.00% - 248px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 9803px;
  width: 28px;
}

.tablet-1161 .group-OeOOvl {
  background-color: transparent;
  height: 677px;
  left: 4px;
  position: relative;
  top: 1px;
  width: 1473px;
}

.tablet-1161 .group-l0hFFn {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.tablet-1161 .group-aEFf5M {
  background-color: transparent;
  height: 1.03%;
  left: 99.62%;
  position: absolute;
  top: 98.97%;
  width: 0.38%;
}

.tablet-1161 .vector-pm5Lds {
  background-color: transparent;
  height: 7.17%;
  left: 44.04%;
  mix-blend-mode: normal;
  position: absolute;
  top: 46.42%;
  width: 8.93%;
}

.tablet-1161 .vector-15FYhX {
  background-color: transparent;
  height: 7.17%;
  left: 79.79%;
  mix-blend-mode: normal;
  position: absolute;
  top: 65.45%;
  width: 8.93%;
}

.tablet-1161 .vector-UY3l1O {
  background-color: transparent;
  height: 7.17%;
  left: 79.79%;
  mix-blend-mode: normal;
  position: absolute;
  top: 79.09%;
  width: 8.93%;
}

.tablet-1161 .vector-huHoJG {
  background-color: transparent;
  height: 7.17%;
  left: 79.79%;
  mix-blend-mode: normal;
  position: absolute;
  top: 92.35%;
  width: 8.93%;
}

.tablet-1161 .vector-aEFf5M {
  background-color: transparent;
  height: 3.99%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1.43%;
}

.tablet-1161 .rectangle-kqQQwV {
  background-color: var(--pizza);
  border-radius: 3.65px;
  height: 34px;
  left: calc(50.00% - 248px);
  mix-blend-mode: normal;
  position: absolute;
  top: 9954px;
  width: 136px;
}

.tablet-1161 .join-the-waitlist-916P4f {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 236px);
  letter-spacing: 0.00px;
  line-height: 25.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9959px;
  white-space: nowrap;
  width: 114px;
}

.tablet-1161 .rectangle-413-GA7nTH {
  background-color: transparent;
  height: 323px;
  left: calc(50.00% - 485px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 10584px;
  width: 1005px;
}

.tablet-1161 .business-in-a-box-GA7nTH {
  background-color: transparent;
  height: 82px;
  left: calc(50.00% - 368px);
  letter-spacing: 7.20px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10695px;
  width: 693px;
}

.tablet-1161 .frame-GA7nTH {
  background-color: transparent;
  height: 86px;
  left: calc(50.00% - 41px);
  overflow: hidden;
  position: absolute;
  top: 10953px;
  width: 86px;
}

.tablet-1161 .vector-36jWOa {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tablet-1161 .vector-XmpL3Y {
  background-color: transparent;
  height: 54.65%;
  left: 34.77%;
  mix-blend-mode: normal;
  position: absolute;
  top: 22.09%;
  width: 30.81%;
}

.tablet-1161 .vector-vqKKqz {
  background-color: transparent;
  height: 31.40%;
  left: 48.84%;
  mix-blend-mode: normal;
  position: absolute;
  top: 32.56%;
  width: 31.40%;
}

.tablet-1161 .vector-1EXNwo {
  background-color: transparent;
  height: 23.26%;
  left: 54.65%;
  mix-blend-mode: normal;
  position: absolute;
  top: 36.05%;
  width: 20.93%;
}

.tablet-1161 .max-trust-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 71px);
  letter-spacing: 0.00px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11061px;
  white-space: nowrap;
  width: 149px;
}

.tablet-1161 .we-partner-with-dian-government-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 153px);
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11111px;
  width: 313px;
}

.tablet-1161 .frame-DxC79h {
  background-color: transparent;
  height: 86px;
  left: calc(50.00% - 41px);
  overflow: hidden;
  position: absolute;
  top: 11273px;
  width: 86px;
}

.tablet-1161 .vector-WoJ4Jl {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tablet-1161 .vector-q1NIpC {
  background-color: transparent;
  height: 8.14%;
  left: 58.29%;
  mix-blend-mode: normal;
  position: absolute;
  top: 49.54%;
  width: 10.47%;
}

.tablet-1161 .vector-w963Kx {
  background-color: transparent;
  height: 54.65%;
  left: 32.45%;
  mix-blend-mode: normal;
  position: absolute;
  top: 22.09%;
  width: 30.81%;
}

.tablet-1161 .vector-gPQCrb {
  background-color: transparent;
  height: 31.40%;
  left: 47.67%;
  mix-blend-mode: normal;
  position: absolute;
  top: 32.56%;
  width: 29.07%;
}

.tablet-1161 .vector-zN4kMa {
  background-color: transparent;
  height: 8.14%;
  left: 56.98%;
  mix-blend-mode: normal;
  position: absolute;
  top: 44.19%;
  width: 10.47%;
}

.tablet-1161 .vector-xUxANS {
  background-color: transparent;
  height: 24.42%;
  left: 52.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 36.05%;
  width: 19.77%;
}

.tablet-1161 .max-security-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 98px);
  letter-spacing: 0.00px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11381px;
  white-space: nowrap;
  width: 202px;
}

.tablet-1161 .finclu-s-uses-a-phic-techniques-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11431px;
  width: 298px;
}

.tablet-1161 .frame-gX81gP {
  background-color: transparent;
  height: 86px;
  left: calc(50.00% - 35px);
  overflow: hidden;
  position: absolute;
  top: 11563px;
  width: 86px;
}

.tablet-1161 .vector-0bI5Jw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tablet-1161 .vector-dvvCWS {
  background-color: transparent;
  height: 54.65%;
  left: 32.45%;
  mix-blend-mode: normal;
  position: absolute;
  top: 19.77%;
  width: 30.81%;
}

.tablet-1161 .vector-hdsEXi {
  background-color: transparent;
  height: 36.05%;
  left: 46.51%;
  mix-blend-mode: normal;
  position: absolute;
  top: 29.07%;
  width: 31.40%;
}

.tablet-1161 .vector-BocnGK {
  background-color: transparent;
  height: 24.42%;
  left: 52.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 34.88%;
  width: 19.77%;
}

.tablet-1161 .max-safety-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 79px);
  letter-spacing: 0.00px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11671px;
  white-space: nowrap;
  width: 176px;
}

.tablet-1161 .your-data-is-pr-is-ssl-secured-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 151px);
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11721px;
  width: 309px;
}

.tablet-1161 .nav-1-GA7nTH {
  background-color: transparent;
  bottom: 0px;
  height: 555px;
  left: calc(50.00% - 580px);
  position: absolute;
  width: 1161px;
}

.tablet-1161 .row-4-GA7nTH {
  background-color: transparent;
  bottom: 434px;
  height: 1px;
  left: 12.92%;
  position: absolute;
  width: 74.17%;
}

.tablet-1161 .divider-zpWIxl {
  background-color: var(--white);
  bottom: -1px;
  height: 3px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  width: 100.23%;
}

.tablet-1161 .having-any-ques-out-our-product-GA7nTH {
  background-color: transparent;
  bottom: 268px;
  color: var(--white);
  display: block;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  height: 121px;
  left: calc(50.00% - 469px);
  letter-spacing: 0.00px;
  line-height: 55.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  width: 941px;
  opacity: 0;
transform: translate(-25px, 0);
}

.tablet-1161 .having-any-ques-out-our-product-GA7nTH.animate-enter15 {
  animation: animate-enter15-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes animate-enter15-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.tablet-1161 .rectangle-392-GA7nTH {
  background-color: var(--eerie-black);
  border: 2px solid var(--white);
  border-radius: 7px;
  bottom: 234px;
  height: 43px;
  left: calc(50.00% - 96px);
  mix-blend-mode: normal;
  position: absolute;
  width: 192px;
}

.tablet-1161 .view-fa-qs-GA7nTH {
  background-color: transparent;
  bottom: 239px;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 33px;
  left: calc(50.00% - 82px);
  letter-spacing: 0.00px;
  line-height: 72.1px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 166px;
}

.tablet-1161 .rectangle-409-GA7nTH {
  background-color: var(--rangoon-green);
  bottom: 510px;
  height: 283px;
  left: calc(50.00% - 580px);
  mix-blend-mode: normal;
  position: absolute;
  width: 1161px;
}

.tablet-1161 .share-trust-not-data-GA7nTH {
  background-color: transparent;
  bottom: 577px;
  height: 150px;
  left: calc(50.00% - 656px);
  letter-spacing: 0.36px;
  line-height: 33.8px;
  position: absolute;
  text-align: center;
  width: 1315px;
}

.tablet-1161 .span0-51hFLQ {
  letter-spacing: 0.14px;
}

.tablet-1161 .span1-51hFLQ {
  letter-spacing: 0.14px;
}

.tablet-1161 .image-gX81gP {
  background-color: var(--eerie-black);
  border-radius: 10.87px;
  bottom: 1899px;
  box-shadow: 7.767834663391113px 7.767834663391113px 17.84842300415039px #7272724a , -7.767834663391113px -7.767834663391113px 13.386317253112793px #00000066;
  display: block;
  height: 281px;
  left: calc(50.00% - 272px);
  mix-blend-mode: normal;
  position: absolute;
  width: 544px;
  opacity: 0;
transform: scale(0.9);
}

.tablet-1161 .image-gX81gP.animate-enter16 {
  animation: animate-enter16-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: scale(0.9);
}

@keyframes animate-enter16-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}

.tablet-1161 .image-w3SM3y {
  background-color: var(--eerie-black);
  border-radius: 10.87px;
  bottom: 1221px;
  box-shadow: 7.767834663391113px 7.767834663391113px 17.84842300415039px #7272724a , -7.767834663391113px -7.767834663391113px 13.386317253112793px #00000066;
  display: block;
  height: 281px;
  left: calc(50.00% - 272px);
  mix-blend-mode: normal;
  position: absolute;
  width: 544px;
  opacity: 0;
transform: scale(0.9);
}

.tablet-1161 .image-w3SM3y.animate-enter17 {
  animation: animate-enter17-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: scale(0.9);
}

@keyframes animate-enter17-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}

.tablet-1161 .image-kqQQwV {
  background-color: var(--eerie-black);
  border-radius: 10.87px;
  bottom: 1560px;
  box-shadow: 7.767834663391113px 7.767834663391113px 17.84842300415039px #7272724a , -7.767834663391113px -7.767834663391113px 13.386317253112793px #00000066;
  display: block;
  height: 281px;
  left: calc(50.00% - 272px);
  mix-blend-mode: normal;
  position: absolute;
  width: 544px;
  opacity: 0;
transform: scale(0.9);
}

.tablet-1161 .image-kqQQwV.animate-enter18 {
  animation: animate-enter18-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: scale(0.9);
}

@keyframes animate-enter18-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}

.tablet-1161 .image-916P4f {
  background-color: var(--eerie-black);
  border-radius: 10.87px;
  bottom: 869px;
  box-shadow: 7.767834663391113px 7.767834663391113px 17.84842300415039px #7272724a , -7.767834663391113px -7.767834663391113px 13.386317253112793px #00000066;
  display: block;
  height: 281px;
  left: calc(50.00% - 272px);
  mix-blend-mode: normal;
  position: absolute;
  width: 544px;
  opacity: 0;
transform: scale(0.9);
}

.tablet-1161 .image-916P4f.animate-enter19 {
  animation: animate-enter19-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
transform: scale(0.9);
}

@keyframes animate-enter19-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}

.tablet-1161 .image-cYMkHU {
  background-color: transparent;
  border-radius: 6.99px;
  bottom: 1906px;
  height: 267px;
  left: calc(50.00% - 264px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  width: 529px;
}

.tablet-1161 .image-hb8gsG {
  background-color: transparent;
  border-radius: 6.99px;
  bottom: 1228px;
  height: 267px;
  left: calc(50.00% - 264px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  width: 529px;
}

.tablet-1161 .image-hcBxn2 {
  background-color: transparent;
  border-radius: 6.99px;
  bottom: 1567px;
  height: 267px;
  left: calc(50.00% - 264px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  width: 529px;
}

.tablet-1161 .image-4mVmRc {
  background-color: transparent;
  border-radius: 6.99px;
  bottom: 876px;
  height: 267px;
  left: calc(50.00% - 264px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  width: 529px;
}

.tablet-1161 .rectangle-430-GA7nTH {
  background-color: var(--white);
  border-radius: 15.68px;
  height: 614px;
  left: calc(50.00% - 432px);
  mix-blend-mode: normal;
  position: absolute;
  top: 11854px;
  width: 863px;
}

.tablet-1161 .trusted-by-GA7nTH {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-cera_pro-bold);
  font-size: 25.1px;
  font-style: normal;
  font-weight: 700;
  height: 70px;
  left: calc(50.00% - 196px);
  letter-spacing: 5.02px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11905px;
  width: 394px;
}

.tablet-1161 .bank-logos-1-GA7nTH {
  background-color: transparent;
  height: 380px;
  left: calc(50.00% - 402px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 12034px;
  width: 805px;
}

.tablet-1161 .digi-locker-medium-1-GA7nTH {
  background-color: transparent;
  height: 64px;
  left: calc(50.00% - 196px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 11977px;
  width: 173px;
}

.tablet-1161 .aa34538b884a110-f82bbd52cfad7-1-GA7nTH {
  background-color: transparent;
  height: 69px;
  left: calc(50.00% + 47px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 11974px;
  width: 114px;
}

.tablet-1161 .zero-knowledge-with-blockchain-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 246px);
  letter-spacing: 0.42px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 9652px;
  width: 704px;
}

.tablet-1161 .span0-mBNQID {
  letter-spacing: 0.17px;
}

.tablet-1161 .span1-mBNQID {
  letter-spacing: 0.17px;
}

.tablet-1161 .no-shared-secre-ns-or-otherwise-GA7nTH {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 196px);
  letter-spacing: 0.42px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9803px;
  width: 437px;
}

.tablet-1161 .with-finclus-yo-ns-in-one-click-gX81gP {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: calc(50.00% - 338px);
  letter-spacing: 0.42px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 1608px;
  width: 704px;
}

.tablet-1161 .span0-kbYpod {
  color: var(--white);
  font-style: normal;
  letter-spacing: 0.15px;
}

.tablet-1161 .span1-kbYpod {
  color: var(--fuel-yellow);
  font-style: normal;
  letter-spacing: 0.15px;
}
